@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
    font-size: 17px;
    line-height: 24px;
    min-width: 1550px;
}

img {
    vertical-align: middle;
}

ul {
    list-style: none;
}

#top {
    background-color: #00bccb;
    position: fixed;
    color: white;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.top_inner {
    width: 1504px;
    margin: 0 auto;
}

#top ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
}

#language {
    font-size: 16px;
    width: 160px;
    border: none;
    background-color: #00bccb;
    font-family: inherit;
    color: white;
}


#top li {
    text-align: center;
    padding: 7px 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

#header {
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 40px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.header_inner {
    width: 1504px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

#gnb {
    display: flex;
    list-style: none;
}

#gnb li {
    padding: 20px 50px;
    font-size: 20px;
    font-weight: bold;
}

#gnb li:hover {
    color: #00bccb;
    transition: all 0.5s;
}

.logo {
    position: absolute;
    top: 16px;
    left: 0;
}

#ad {
    background-image: url(./images/INDEX/information.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#ad {
    padding-top: 65px;
    padding-bottom: 65px;
}

.ad_text {
    width: 1350px;
    margin: 0 auto;
}

.ad_content {
    font-size: 17px;
}

.text_title1 {
    padding-bottom: 22px;
    font-weight: bold;
    font-size: 22px;
}

.text_content1 {
    font-size: 17px;
    padding-bottom: 32px;
}

#text {
    padding-top: 180px;
    width: 1504px;
    padding-bottom: 32px;
    margin: 0 auto;
    vertical-align: middle;

}

.button {
    display: flex;
    justify-content: space-between;

}



.bg1 {
    background: url(./images/INDEX/1.main_banner.jpg) no-repeat center top;
    height: 616px;
}

.bg2 {
    background: url(./images/INDEX/1-3.main_banner.jpg) no-repeat center top;
    height: 616px;
}

.bg3 {
    background: url(./images/INDEX/1-2.main_banner.jpg) no-repeat center top;
    height: 616px;
}



.swiper .mySwiper2 {
    padding-bottom: 180px;
}

.mySwiper {
    margin-top: 104px;
}

#attachment {
    background-image: url(./images/INDEX/banner2.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: 350px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 180px;
    line-height: 30px;
    background-position: center;

}

.reservation {
    position: absolute;
    right: -204px;
    bottom: 50px;
    background-image: url(./images/INDEX/blue_box.png);
    height: 517px;
    width: 611px;
    padding: 30px 0;
    box-sizing: border-box;
}

.wbox {
    width: 340px;
    margin-left: 34px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    margin-bottom: 3px;
    color: #2e8cdb;
}

.wbox1 {
    width: 340px;
    margin-left: 34px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    box-sizing: border-box;
    color: #2e8cdb;
    margin-bottom: 3px;
}

.reservation>p {
    width: 340px;
    margin-left: 34px;
}

.reservation1 {
    border-bottom: 1px dashed #2e8cdb;
    padding: 10px 0;
}

.reservation2 {
    border-top: 1px dashed #2e8cdb;
    padding: 10px 0;
    background-image: url(./images/INDEX/calender.png);
    background-repeat: no-repeat;
    background-position: 90PX;
    padding-left: 20px;
}

.reservation3 {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.reservation3 span {
    padding: 0 25px;
}

.reservation4 {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    padding-bottom: 50px;
    align-items: center;
    text-align: center;
}

#number_seat {
    font-size: 16px;
    width: 80px;
    border: none;
    background-color: white;
    font-family: inherit;
    color: #2e8cdb;

}

/*체크박스 스타일 시작*/

.checkbox2+label {
    position: relative;
    /*체크박스 크기*/
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 10px;
}

input[type="checkbox"].checkbox2 {
    display: none;
}

input[type="checkbox"].checkbox2+label:before {
    /* 체크박스 체크 전 모습 */
    display: inline-block;
    content: '';
    width: 90%;
    height: 90%;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 4px;
}

input[type="checkbox"].checkbox2+label:after {
    /* 체크 마크 */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: '✔';
    /* 체크 마크 ASCii 문자 */
    /*font-size=체크버튼크기*/
    font-size: 20px;
    line-height: 15px;
    text-align: center;
    width: 100%;
    height: 100%;
    /*체크마크 색상*/
    color: #fff;
    background-color: #519fe0;
    transition: all .3s;
}

[type="checkbox"].checkbox2+label:after {
    /* 기본 상태 - 투명에 크기 0 */
    opacity: 0;
}

[type="checkbox"]:checked.checkbox2+label:after {
    /* 체크 상태 - 불투명에 크기 1 */
    opacity: 1;
}

.test_check:checked {
    background-color: #000;
}

#number_passenger {
    font-size: 16px;
    width: 80px;
    border: none;
    background-color: white;
    font-family: inherit;
    color: #2e8cdb;

}

.checkbox {
    color: white;
    padding: 10px 0;
}

.search {
    display: block;
    width: 340px;
    margin-left: 34px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    padding: 10px 0;
    color: #2e8cdb;
    font-weight: 400;
}

.slogan {
    font-size: 46px;
    font-weight: bold;
}

.slogan2 {
    font-size: 30px;
    font-weight: 400;
}

#swiper {
    padding-bottom: 32px;
    width: 1504px;
    margin: 0 auto;
}

#event {
    width: 1504px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#service {
    background-image: url(./images/INDEX/service_img.jpg);
    background-repeat: no-repeat;
    height: 521px;
    background-position: center;
}

#btn {
    width: 1504px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 116px;
}

.btn1 {
    background-image: url(./images/INDEX/service1.png);
    width: 248px;
    height: 288px;
    display: block;
    box-sizing: border-box;

}

.btn1:hover {
    background-image: url(./images/INDEX/service1_yellow.png);
    border: 3px solid white;
    transform: translateY(-2px);
    transition: all 0.1s;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.2);
}

.btn2 {
    background-image: url(./images/INDEX/service2.png);
    width: 248px;
    height: 288px;
    display: block;
    box-sizing: border-box;

}

.btn2:hover {
    background-image: url(./images/INDEX/service2_yellow.png);
    border: 3px solid white;
    transform: translateY(-2px);
    transition: all 0.1s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn3 {
    background-image: url(./images/INDEX/service3.png);
    width: 248px;
    height: 288px;
    display: block;
    box-sizing: border-box;

}

.btn3:hover {
    background-image: url(./images/INDEX/service3_yellow.png);
    border: 3px solid white;
    transform: translateY(-2px);
    transition: all 0.1s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn4 {
    background-image: url(./images/INDEX/service4.png);
    width: 248px;
    height: 288px;
    display: block;
    box-sizing: border-box;

}

.btn4:hover {
    background-image: url(./images/INDEX/service4_yellow.png);
    border: 3px solid white;
    transform: translateY(-2px);
    transition: all 0.1s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn5 {
    background-image: url(./images/INDEX/service5.png);
    width: 248px;
    height: 288px;
    display: block;
    box-sizing: border-box;

}

.btn5:hover {
    background-image: url(./images/INDEX/service5_yellow.png);
    border: 3.5px solid white;
    transform: translateY(-2px);
    transition: all 0.1s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#event a:hover {
    transform: translateY(-20px);
    transition: all 0.5s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#footer {
    background-color: #00bccb;
    color: white;
    font-size: 16px;
}

#footer {
    background: #00bccb;
    padding: 50px 0;
    color: white;
}

#footer_in {
    width: 1504px;
    margin: auto;
    overflow: hidden;
}

#footer a,
.footer_in p {
    color: white;
}

#footer_in {
    display: flex;
    justify-content: space-between;
}

#ft_left ul {
    display: flex;
}

#ft_left ul li {
    margin-right: 30px;
    list-style: none;
}

#ft_left p {
    padding-top: 30px;
}

.numb {
    margin-top: 10px;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
}

.ftr_time {
    color: #fff;
}

#ft_right ul {
    display: flex;
    list-style: none;
}

#ft_right ul li {
    margin: 15px 15px 0 0;

}

.top {
    width: 60px;
    height: 60px;
    display: inline-block;
    position: fixed;
    bottom: 40px;
    left: 50%;
    margin-left: 770px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

}

#store {
    width: 1504px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 180px;
}

.product ul {
    width: 1504px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    list-style: none;
    display: flex;
}

.product_title {
    padding-top: 60px;
    padding-bottom: 10px;
    font-weight: 600;
}

#store ul li img {
    width: 100%;
}

#store ul li:hover img {
    transform: scale(1.1, 1.1);
}

#store ul li img {
    transition: all 0.3s;
}

.product ul li {
    cursor: pointer;
    overflow: hidden;
}

.img {
    overflow: hidden;
}

.best {
    width: 38px;
    height: 18px;
}

.swiper_position {
    width: 1504px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 40;
    padding-bottom: 51px;

}

.mySwiper .swiper-pagination {
    width: auto;
    background-color: #2e8cdb;
    color: white;
    padding: 5px 30px;
    border-radius: 16.8px;
    margin-bottom: 51px;


}

.swiper-button-next::after {
    font-size: 10px;
    color: #fff;

}

.swiper-button-prev::after {
    font-size: 10px;
    color: #fff;
}

.swiper-button-prev {
    top: auto;
    bottom: 54px;
    left: 0;
    z-index: 40;
}


.swiper-button-next {
    top: auto;
    bottom: 54px;
    right: auto;
    left: 70px;
    z-index: 40;
}