@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
    font-size: 17px;
    line-height: 24px;
    min-width: 1550px;
}

#top {
    background-color: #00bccb;
    position: fixed;
    color: white;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.top_inner {
    width: 1504px;
    margin: 0 auto;
}

#gnb li:hover {
    color: #00bccb;
    transition: all 0.5s;
}


#top ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
}

#language {
    font-size: 16px;
    width: 160px;
    border: none;
    background-color: #00bccb;
    font-family: inherit;
    color: white;
}

#top li {
    text-align: center;
    padding: 7px 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

#header {
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 40px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.header_inner {
    width: 1504px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#gnb {
    display: flex;
    list-style: none;
}

#gnb li {
    padding: 20px 50px;
    font-size: 20px;
    font-weight: bold;
}

.logo {
    position: absolute;
    top: 16px;
    left: 0;

}

#footer {
    background-color: #00bccb;
    color: white;
    font-size: 16px;
}

#footer {
    background: #00bccb;
    padding: 50px 0;
    color: white;
}

#footer_in {
    width: 1504px;
    margin: auto;
    overflow: hidden;
}

#footer a,
.footer_in p {
    color: white;
}

#footer_in {
    display: flex;
    justify-content: space-between;
}

#ft_left ul {
    display: flex;
}

#ft_left ul li {
    margin-right: 30px;
    list-style: none;
}

#ft_left p {
    padding-top: 30px;
}

.numb {
    margin-top: 10px;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
}

.ftr_time {
    color: #fff;
}

#ft_right ul {
    display: flex;
    list-style: none;
}

#ft_right ul li {
    margin: 15px 15px 0 0;

}

.top {
    width: 60px;
    height: 60px;
    display: inline-block;
    position: fixed;
    bottom: 40px;
    left: 50%;
    margin-left: 770px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    z-index: 50;

}

#main_banner {
    background-image: url(./images/sub4/mainbanner.jpg);
    background-repeat: no-repeat;
    height: 616px;
    text-align: center;
    font-weight: 500;
    font-size: 60px;
    color: white;
    margin-top: 104px;
    background-position: center;
}

#main_banner img {
    padding: 20px 0;
}

#main_banner p {
    padding-top: 220px;
    color: white;
    padding-bottom: 20px;
}

#main_banner h5 {
    padding-top: 20px;
    font-size: 25px;
    font-weight: 400
}

.card .swiper-slide {
    transform: scale(0.7);
}

.card .swiper-slide.swiper-slide-active {
    transform: scale(1);

}

.text_title1 {
    padding-bottom: 22px;
    font-weight: bold;
    font-size: 22px;
}

#text {
    padding-top: 180px;
    width: 1504px;
    padding-bottom: 32px;
    margin: 0 auto;

}

.text_content1 {
    font-size: 17px;
    padding-bottom: 32px;
}

.card img {
    width: 100%;
}

.store_titlte {
    text-align: center;
    padding-top: 32px;
    font-weight: 500;
}

.store_content {
    text-align: center;
}

#attachment {
    background-image: url(./images/sub4/whitecloud.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: lightslategray;
    height: 350px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 180px;
    line-height: 30px;
    background-position: center;

}


.slogan {
    font-size: 46px;
    font-weight: bold;
}

.slogan2 {
    font-size: 30px;
    font-weight: 400;
}

#btn {
    width: 1504px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#btn_second {
    width: 1504px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 180px;
}

.btn1 {
    background-image: url(./images/sub4/neckpillow.png);
    width: 447px;
    height: 583px;
    display: block;
    box-sizing: border-box;

}

.btn1:hover {
    background-image: url(./images/sub4/neckpillow_black.png);
    transition: all 0.2s;

}

.btn2 {
    background-image: url(./images/sub4/umbrella.jpg);
    width: 447px;
    height: 583px;
    display: block;
    box-sizing: border-box;

}

.btn2:hover {
    background-image: url(./images/sub4/umbrella_black.png);
    transition: all 0.2s;

}

.btn3 {
    background-image: url(./images/sub4/pinbutton.png);
    width: 447px;
    height: 583px;
    display: block;
    box-sizing: border-box;

}

.btn3:hover {
    background-image: url(./images/sub4/pinbutton_black.png);
    transition: all 0.2s;
}

.btn4 {
    background-image: url(./images/sub4/reuser_cup.png);
    width: 447px;
    height: 583px;
    display: block;
    box-sizing: border-box;

}

.btn4:hover {
    background-image: url(./images/sub4/reusercup_black.png);
    transition: all 0.2s;

}

.btn5 {
    background-image: url(./images/sub4/shoppingbag.png);
    width: 447px;
    height: 583px;
    display: block;
    box-sizing: border-box;

}

.btn5:hover {
    background-image: url(./images/sub4/shoppingbag_black.png);
    transition: all 0.2s;

}

.btn6 {
    background-image: url(./images/sub4/pen.png);
    width: 447px;
    height: 583px;
    display: block;
    box-sizing: border-box;

}

.btn6:hover {
    background-image: url(./images/sub4/pen_black.png);
    transition: all 0.2s;
}